<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <meta name="description" content="resume BUPT chenxueyong">
    <meta name="keywords" content="resume BUPT chenxueyong">
    <link rel="icon" href="/images/cxy.ico" type="image/x-icon">
    <!-- stylesheet css -->
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="/stylesheets/resume.css">
</head>

<body data-spy="scroll" data-target=".navbar-collapse">
    <!-- preloader section -->
    <div class="preloader">
        <div class="sk-spinner sk-spinner-wordpress">
            <span class="sk-inner-circle"></span>
        </div>
    </div>
    <!-- header section -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h2 class="white bold shadow">个人简历</h2>
                    <a href="#" title="陈雪勇">
                        <img src="/images/cxy-profile.jpg" class="img-responsive img-circle tm-border" alt="证件照">
                    </a>
                    <hr>
                    <h3 class="tm-title bold shadow">陈雪勇&nbsp;</h3>
                    <h4 class="white shadow age">男(24岁)</h4>
                    <h4 class="white shadow">北京邮电大学&nbsp;·&nbsp;电子与通信工程&nbsp;·&nbsp;研究生</h4>
                    <h3 class="white bold shadow">web前端开发</h3>
                </div>
            </div>
        </div>
    </header>
    <!-- about and skills section -->
    <section class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="about">
                    <h3 class="accent">教育经历</h3>
                    <br>
                    <div class="top">
                        <div class="col-md-6">2014-9&nbsp;至今&nbsp;(2017年3月毕业)</div>
                        <div class="col-md-6">北京邮电大学&nbsp;·&nbsp;电子与通信工程
                            <div class="col-md-12">硕士研究生&nbsp;硕士</div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="col-md-6">2010-9&nbsp;至&nbsp;2014-7</div>
                        <div class="col-md-6">北京邮电大学&nbsp;·&nbsp;自动化
                            <div class="col-md-12">本科&nbsp;学士</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="skills">
                    <h2 class="white">技能</h2>
                    <strong>HTML/CSS/Javascript</strong>
                    <span class="pull-right">熟练掌握</span>
                    <div class="progress">
                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" data-transitiongoal="80"></div>
                    </div>
                    <strong>JQuery/Bootstrap</strong>
                    <span class="pull-right">熟练使用</span>
                    <div class="progress">
                        <div class="progress-bar  progress-bar-danger six-sec-ease-in-out" role="progressbar" data-transitiongoal="70"></div>
                    </div>
                    <strong>Node.js+Express+MongoDB</strong>
                    <span class="pull-right">独立开发小型系统</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning six-sec-ease-in-out" role="progressbar" data-transitiongoal="75"></div>
                    </div>
                    <strong>c语言 算法 数据结构</strong>
                    <span class="pull-right">一定了解</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info six-sec-ease-in-out" role="progressbar" data-transitiongoal="65"></div>
                    </div>
                    <div id="container"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="education">
                    <h2 class="white">校内奖励</h2>
                    <div class="education-content">
                        <div class="education-school">
                            <h5>2013-9</h5><span></span>
                            <h5>励志奖学金&nbsp;北京邮电大学</h5>
                        </div>
                        <div class="education-school">
                            <h5>2012-9</h5><span></span>
                            <h5>二等奖学金&nbsp;北京邮电大学</h5>
                        </div>
                        <div class="education-school">
                            <h5>2011-9</h5><span></span>
                            <h5>一等奖学金&nbsp;北京邮电大学</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="languages">
                    <h2>语言</h2>
                    <ul>
                        <li>大学英语六级 518</li>
                        <li>大学英语四级</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- contact and experience -->
    <section class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="contact">
                    <h2>Contact</h2>
                    <p><i class="fa fa-map-marker"></i> 北京市海淀区西土城路10号北京邮电大学</p>
                    <p><i class="fa fa-phone"></i> 156-0093-1189</p>
                    <p><a href="mailto:chenxybyr@163.com?subject=feedback" "email me"><i class="fa fa-envelope"></i> chenxybyr@163.com</a></p>
                    <p><i class="fa fa-globe"></i> www.company.com</p>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="experience">
                    <h2 class="white">Experiences</h2>
                    <div class="experience-content">
                        <h4 class="experience-title accent">Website Development</h4>
                        <h5>New Media Company</h5><span></span>
                        <h5>2035 January - 2036 April</h5>
                        <p class="education-description">Cras porta tincidunt sem, in sollicitudin lorem efficitur ut. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer section -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p>Copyright &copy; ISWIT(智慧无线移动信息技术研究中心) xuelangcxy BUPT</p>
                    <ul class="social-icons">
                        <li>
                            <a href="#" class="fa fa-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-google-plus"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-dribbble"></a>
                        </li>
                        <li>
                            <a href="https://github.com/xuelangcxy" class="fa fa-github"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-behance"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- javascript js -->
    <script src="/assets/jquery/jquery.js"></script>
    <script src="/assets/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/jquery-backstretch/jquery.backstretch.min.js"></script>
    <script src="/assets/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/javascripts/resume.js"></script>
</body>

</html>
